<% layout('layouts/boilerplate') %>
<%- include('./partials/navbar') %> 


<!-- Ṃain Process -->
<div class="mainProcess">
    <div class="pheading"><h1>Operations</h1></div>
    <div class="process">
        
        <div class="p1"><img src="/images/process/Sourcing.webp" alt="sourcing"> <span>Sourcing</span> </div>
        <div class="p1"><img src="/images/process/Quality.webp" alt="sourcing"><span>Quality</span></div>
        <div class="p1"><img src="/images/process/Refining.webp" alt="sourcing"><span>Refining</span></div>
        <div class="p1"><img src="/images/process/Fractionation.webp" alt="sourcing"><span>Fractionation</span></div>
        <div class="p1"><img src="/images/process/Packaging.webp" alt="sourcing"><span>Packaging</span></div>
        <div class="p1"><img src="/images/process/Research.webp" alt="sourcing"><span>Research</span></div>
    </div>
</div>

<!-- /Main Process Ends -->

<!-- Nutritional Info -->
 <div class="Nutritions">
        <DIV id="header-n">
        <h1>Nutritional Values per 100gm</h1>
    </DIV>

    <div class="nut-info">
        <div class="n1">
            <ul>
                <li>ENERGY : 900kcal</li>
                <LI>PROTEIN: 0GM</LI>
                <LI>CARBOHYDRATES: 0GM</LI>
                <LI>SUGAR 0G</LI>
                <LI>Fatty Acid Composition : Fat 100%</LI>
                <LI>Saturated Fatty Acids : 7.8 g</LI>
                <LI>Trps Fatty Acids : 0 g</LI>

            </ul>
        </div>



        <div class="n2">
            <ul>
                <li>Cholesterol- - 0 mg</li>
                <LI>Vitamin E - 40 mg</LI>
                <LI>Added Vitamin A - 750 mcg* RE**</LI>
                <LI>Added Vitamin D2 - 11.25 mcg*</LI>
                <LI>Fatty Acid Composition - 900 cal</LI>
                <LI>Poly-Unsaturated Fatty Acids - 28.8 g</LI>
                <LI>Mono-Unsaturated Fatty Acids - 63.4 g</LI>

            </ul>
        </div>
    </div>
    </div>

<%- include('./partials/footer') %>